.button {
  background-color: var(--Color-gray-600);
  border: 0;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;

  &__fullwidth {
    width: 100%;
  }

  &__success {
    background-color: var(--Color-green-500);
    color: var(--Color-white);
  }
  &__warning {
    background-color: var(--Color-yellow-700);
  }
  &__info {
    background-color: var(--Color-blue-700);
  }
}
