@import "@styles/mixins/responsive.scss";

.orderLayout {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  @include responsive(lg) {
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
  }
}

.stores {
  display: flex;
  flex-direction: column;
  order: 1;
  .filters {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: -1.5rem 0 1rem;
    position: relative;
    width: 100%;
    z-index: 2;
  }
  @include responsive(lg) {
    width: 50%;
    .filters {
      margin: 0 0 1rem;
    }
  }
}

.map {
  flex: 1;
  .mapStores {
    aspect-ratio: unset;
    height: 100%;
  }
  @include responsive(lg) {
    flex: 1;
    order: 2;
  }
}

.list {
  height: 290px;
  .listGrid {
    height: 100%;
    overflow-y: auto;
  }
  @include responsive(lg) {
    max-height: calc(100vh - 228px);
    height: 100%;
  }
}
